.list-container {
    text-align: center;
    margin-top: 20px;
  }
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    color:black;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  .remove-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .remove-button:hover {
    background-color: #c82333;
  }